input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 12px;
    resize: vertical;
}
input[type=submit] {
    background-color: #000000;
    color: #faf9f9;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8d8b8b;
    color: white;
}

.ask_form {
    border-radius: 5px;
    background-color: #ad2424;
    color: white;
    padding: 20px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
body{
    display: flex;
    flex-direction: column;
}
*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.top{
    background-color: #090909;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top h1{
    font-size: 50px;
    color: white;
    margin-left: 100px;
}
.logo img{
    width: 80px;
}
.logo{
    margin-right: 40px;
    margin-left: 50px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ad2424;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#menu{
    margin-left: 20px;
    cursor: pointer;
}
#menu img{
    width: 30px;
}
.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 130px;
    background-color: #faa5a5;
    height: 870px;
}
.mid a{
    background-color: #ad2424;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 40px;;
    border-radius: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 250;
    transition: background-color 0.5s,opacity 0.15s;
    height: 50px;
    width: 300px;
    white-space: nowrap;
    align-items: center;
}
.mid a:hover{
    opacity: 85%;
    background-color: black;
}

