body{
    display: flex;
    flex-direction: column;
}
*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.top{
    background-color: #090909;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top h1{
    font-size: 50px;
    color: white;
    margin-left: 100px;
}
.mid{
    background-color: #ad2424;
    height: 2700px;
    display: flex;
    flex-direction: column;
}
.mid p{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size:36px;
    padding: 20px;
    background-color: #000000;
}
.bot{
    background-color: #0a0a0a;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo img{
    width: 80px;
}
.logo{
    margin-right: 40px;
    margin-left: 50px;
}
.parallax{
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax.one{
    display: flex;
    flex-direction: column;
    background-image: url("../Project/png_pictures/tim.jpg");
    text-align: center;
    height: 1536px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.parallax.two{
    display: flex;
    flex-direction: column;
    background-image: url("/png_pictures/tim2.jpeg");
    text-align: center;
    height: 1536px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.parallax.three{
    background-image: url("/png_pictures/tim3.jpg");
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 1536px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.parallax.four{
    background-image: url("/png_pictures/b1.jpeg");
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 1536px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.parallax.one a{
    background-color: #0e0b0b;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 40px;;
    border-radius: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    opacity: 85%;
    transition: background-color 1s,opacity 0.15s;
    height: 50px;
    width: 300px;
    white-space: nowrap;
    align-items: center;
}
.parallax.two a,.parallax.three a{
    background-color: #0e0a0a;
    color: #f2f2f2;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 40px;;
    border-radius: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transition: background-color 1s,opacity 0.15s;
    height: 50px;
}
.parallax.one a:hover,.parallax.two a:hover,.parallax.three a:hover{
    background-color: #ad2424;
    opacity: 100%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ad2424;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#menu{
    margin-left: 20px;
    cursor: pointer;
}
#menu img{
    width: 30px;
}
.parallax.four p{
    display: block;
    width: 600px;
    height: 100px;
    text-align: center;
    font-size: 60px;
    border-radius: 5%;
}
#cntdwn{
    text-align: center;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}